<ul>
  <li *ngFor="let persona of persone; index as i">
    <div class="cerchio" [ngStyle]="{'background':getColor(persona)}"></div>
    <p>{{persona.nome}} {{persona.cognome}} {{i}}</p>
  </li>
</ul>
<div><p>Fatto con ngClass</p></div>
<ul>
  <li *ngFor="let persona of persone; index as i">
    <div class="cerchio" [ngClass]="persona.isOnline ? 'cerchioOnline':'cerchioOffline'">{{i}}</div>
    <p>{{persona.nome}} {{persona.cognome}}</p>
  </li>
</ul>

<app-child [data]="persone"></app-child>
<button (click)="cliccato()" [ngStyle]="{'margin-left':'30px'}">Cambia nome</button>

<div>Passaggio di paraetri da Child a Persone</div>
<button (click)="sendData()" [ngStyle]="{'margin-left':'30px'}">Manda Dati</button>

<div> Esempio di if
  <div [ngSwitch]="numero" style="margin: 10px;">
    <div *ngSwitchCase="1">1</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="3">3</div>
    <div *ngSwitchCase="4">4</div>
    <div *ngSwitchDefault>Default</div>
  </div>
</div>
