<a routerLink="/" style="margin-right: 10px;">Home</a>
<a routerLink="prova" style="margin-right: 10px;">Prova</a>
<a routerLink="event"style="margin-right: 10px;" >Event</a>
<a routerLink="persone" style="margin-right: 10px;">Persone</a>
<a routerLink="contatti" style="margin-right: 10px;">Contatti</a>
<hr>
<router-outlet></router-outlet>

<app-prova></app-prova>
<app-event></app-event>
<app-persone (sendDataEvent)="onReceiveData($event)"></app-persone>

<h2>
  <div>
    <input type="radio" nome="coloreevid" (click)="cambiacoloreevidenziatore('red')">Rosso
    <input type="radio" nome="coloreevid" (click)="cambiacoloreevidenziatore('pink')">Rosa
    <input type="radio" nome="coloreevid" (click)="cambiacoloreevidenziatore('purple')">Viola
  </div>
</h2>

<p [appHighlight]="colore" defaultColor="blue">Prova della direttiva</p>
<p [appHighlight]="colore" defaultColor="gray">Prova della direttiva</p>
<p [appHighlight]="colore" defaultColor="green">Prova della direttiva</p>

<h2>Pipe</h2>
<p>Ciao benvenuti al {{title | uppercase}}</p>
<p>Data di oggi {{oggi | date }}</p>
<p>ecco un numero {{numero | number: '1.2-2'}}</p>
<p>ecco una percentuale {{numero | percent: '1.2'}}</p>
<p>valuta {{numero | currency: 'EUR'}}</p>
